{% extends "base.html" %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
			{% for article in object_list %}
				<div class="row">
					<div class="small-6 columns">
						<p>
							<a href='/a/a_{{ article.id }}'>{{ article.nom }}</a> | 
							<a href='/a/a_maj/{{ article.id }}'><i class="fi-refresh"></i></a>
							{% if user.is_superuser %}
								 | <a href='/a/a_delete/{{ article.id }}'><i class="fi-x red-color"></i></a>
							{% endif %}
						</p>
					</div>
				</div>
				<div class="column row">
					<p class="categorie">
						{% for categorie in article.categorie.all %}
							{{ categorie.nom }} {% if not forloop.last %} | {% endif %} 
						{% endfor %}
					</p><hr>
				</div>
				
			{% endfor %}

		{% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="/a/a_?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                    Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.

                {% if page_obj.has_next %}
                    <a href="/a/a_?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
				
		{% endif %}
{% endblock %}