{% extends "base.html" %}

{% block title %}{{ article.nom }}{% endblock %}

{% block content %}
	<div class='row'>
		<div class='small-1 small-offset-11 columns end'>
			<p>
				<i class="fi-checkbox success"  id='response'></i>
			</p>
		</div>
	</div>
	<div class="column row">
		<p>
			<h4>
				<a href='/a/a_'><i class="fi-arrow-left"></i></a> {{ article.nom }} | 
				<button onClick="updateArticle({{ article.id }})"><i class="fi-pencil blue-color"></i></button>
				{% if user.is_superuser %}
					 | <button onClick="deleteArticle({{ article.id }})"><i class="fi-x red-color"></i></button>
				{% endif %}
			</h4>
		</p>
		<p>{{ article.marque }}</p>
	</div>
	<div class="column row">
		<p>
			{% for categorie in categorie %}
				<a href='/a/a_?categorie={{ categorie.id }}'>{{ categorie.nom }}</a> {% if not forloop.last %} | {% endif %} 
			{% endfor %}
		</p><hr>
	</div>
	<div class="row">
		<form method="post" action="" class="ajout_produit_liste">
			<div class="small-3 medium-2 columns">
				<input class="input-group-field" name='quantite' type="number" value="1">
			</div>
			<div class="small-9 large-3 columns end">
				{% csrf_token %}
				<input type='hidden' name='article_id' value='{{ article.id }}' />
				<div class="input-group">
					<select name="liste_id" class="input-group-field">
						{% for l in liste %}
							<option value="{{ l.id }}">{{ l.nom }}</option>
						{% endfor %}
					</select>
					<div class="input-group-button">
						<button type="submit" class="button"><i class="fi-plus"></i></button>
					</div>
				</div>
			</div>
			</form>
	</div>
	<div class="reveal" id="ArticleUpdate" data-reveal>
	</div>
	<div class="reveal" id="ArticleDelete" data-reveal>
	</div>
{% endblock %}

{% block javascript %}

	<script language="JavaScript">
    $(function() {
        $('.ajout_produit_liste').submit(function() {
            $.ajax({ 
                data: $(this).serialize(),
                type:'POST',
                url: '/a/add_to_list/',
				dataType : "jsonp",
				cache: false,
				success:  $(function() {
					$("#response").show();
					setTimeout(function() {
						$("#response").hide();
					}, 2000 );
				})
			});
            return false;
        });
    });
	</script>
		<script type="text/javascript">
		function updateArticle($idArticle) {
			$.ajax('/a/a_maj/' + $idArticle + '/')
			.done(function(resp){
				$("#ArticleUpdate").html(resp).foundation('open');
			});
		}
	</script>
	
	<script type="text/javascript">
		function deleteArticle($idArticle) {
			$.ajax('/a/a_delete/' + $idArticle + '/')
		.done(function(resp){
			$("#ArticleDelete").html(resp).foundation('open');
		});
		}
	</script>
{% endblock %}