{% extends "base.html" %}

{% block title %}Liste des articles{% endblock %}

{% block content %}
	<h2>Articles</h2>
		<ul>
			{% for article in object_list %}
			<li><a href='/a/{{ article.id }}'>{{ article.nom }}</a> <a href='/a/maj/{{ article.id }}'><i class="fi-refresh"></i></a> <a href='/a/delete/{{ article.id }}'><i class="fi-x"></i></a></li>
			{% endfor %}
		</ul>
		{% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="/a?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                    Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.

                {% if page_obj.has_next %}
                    <a href="/a?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}

    {% endif %}
{% endblock %}