{% extends "base.html" %}

{% block title %}Listes de course{% endblock %}

{% block content %}
	<div>
		<h2 class="column row">Listes de course</h2>
		<hr>
	</div>
		{% for liste in object_list %}
			<div class="row">
				<div class="large-6 columns">
					<p class="inline_display">
						<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ liste.magasin.nom }}">
							<img src='{{ MEDIA_URL }}{{ liste.magasin.logo.name }}' width="32" height="32">
						</span>
						<a href='/a/l_{{ liste.id }}'>{{ liste.nom }}</a> | 
						<a href='/a/l_maj/{{ liste.id }}'><i class="fi-refresh"></i></a>
						{% if user.is_superuser %}
							 | <a href='/a/l_delete/{{ liste.id }}'><i class="fi-x red-color"></i></a>
						{% endif %}
						{% if liste.archive %}
						| <i class="fi-shopping-cart green-color"></i>
						{% else %}
						| <form method="post" action="" class="archive_list inline_display">
							{% csrf_token %}
							<input type='hidden' name='liste_id' value='{{ liste.id }}' />
							<button type="submit"><i id="liste_{{ liste.id }}" class="fi-shopping-cart green-empty"></i></button>
						</form>
						{% endif %}
					</p>
				</div>
			</div><hr>
		{% endfor %}
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
    $(function() {
        $('.archive_list').submit(function() {
            $.ajax({ 
                data: $(this).serialize(),
                type:'POST',
                url: '/a/archive_list/',
				dataType : "json",
				cache: false,
				success:  function(data) {
					if (data.state == "archive") {
						$("#liste_" + data.listeid).removeClass("green-empty").addClass("green-color");
                    }
					else if (data.state == "active") {
                        $("#liste_" + data.listeid).removeClass("green-color").addClass("green-empty");
                    }
				}
			});
            return false;
        });
    });
	</script>		
{% endblock %}