{% extends "base.html" %}

{% block title %}{{ liste.nom }}{% endblock %}

{% block content %}
	<div class="column row">
		<h4>
			<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ liste.magasin.nom }}">
				<img src='{{ MEDIA_URL }}{{ liste.magasin.logo.name }}' width="32" height="32">
			</span>
			{{ liste.nom }} | 
			<a href='/a/l_maj/{{ liste.id }}'><i class="fi-refresh"></i></a>
			{% if user.is_superuser %}
				 | <a href='/a/l_delete/{{ liste.id }}'><i class="fi-x red-color"></i></a>
			{% endif %}
			{% if liste.archive %}
				| <i class="fi-shopping-cart green-color"></i>
				{% else %}
					| <form method="post" action="" class="archive_list inline_display">
						{% csrf_token %}
						<input type='hidden' name='liste_id' value='{{ liste.id }}' />
						<button type="submit"><i id="liste_{{ liste.id }}" class="fi-shopping-cart green-empty"></i></button>
					</form>
				{% endif %}
		</h4>
	</div>
	{% if liste.produit.all %}
		<div class="column row">
			<table class="hover">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Quantité</th>
					</tr>
				 </thead>
				<tbody>
					{% for produit in liste.produit.all %}
						<tr>
							<td>{{ produit.nom }}</td>
							<td>{{ produit.quantite }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	<div class="column row">
					<p class="text-center"><a class="button" data-open="ModalAddArticle">Ajouter un article <i class="fi-plus"></i></a></p>
			<div class="reveal" id="ModalAddArticle" data-reveal>
				<div class="success callout display_for_success" data-closable id="response">
					<p>l'article <span id="retour_article"></span> a été ajouté à la liste</p>
				</div>
				<div class="alert callout display_for_success" data-closable id="error_create">
					<p class="text-center"><i class="fi-alert red-color"></i> Erreur - l'article n'a pas été ajouté<i class="fi-alert red-color"></i></p>
				</div>
				<div class="column row margin-top">
					<form action="" method="post" id="ajout_article_liste">
						{% csrf_token %}
						<input type='hidden' name='liste_id' value='{{ liste.id }}' />
						<input type='hidden' id='article_id' name='article_id' value='' />
						{{ addarticle2list.as_p }}
						<p class="text-center"><input type="submit" class="button" value="Ajouter un article"></p>
					</form>
				</div>
				<button class="close-button" data-close aria-label="Close modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
    $(function() {
        $('.archive_list').submit(function() {
            $.ajax({ 
                data: $(this).serialize(),
                type:'POST',
                url: '/a/archive_list/',
				dataType : "json",
				cache: false,
				success:  function(data) {
					if (data.state == "archive") {
						$("#liste_" + data.listeid).removeClass("green-empty").addClass("green-color");
                    }
					else if (data.state == "active") {
                        $("#liste_" + data.listeid).removeClass("green-color").addClass("green-empty");
                    }
				}
			});
            return false;
        });
    });
	</script>
	
	<script type="text/javascript">
		$(function() {
			$('#ajout_article_liste').submit(function() {
				$.ajax({ 
					data: $(this).serialize(),
					type:'POST',
					url: '/a/add_to_list/',
					dataType : "jsonp",
					cache: false,
					success:  $(function() {
						$("#response").show();
						setTimeout(function() {
							$("#response").hide();
							$("#ModalAddArticle").foundation('close');
						}, 2000 );
						
					})
				});
				return false;
			});
		});
	</script>
	
	<script type="text/javascript">
        $(function() {
            $("#article").autocomplete({
                source: "/a/get_article/",
                minLength: 4,
				select:function(e,u){ 
                $("#article").text(u.item.label);
                $("#article_id").val(u.item.id);
				}
            });
        });
</script>
{% endblock %}