{% extends "base.html" %}

{% block title %}{{ liste.nom }}{% endblock %}

{% block menu-off-canvas-small %}
{% endblock %}
{% block menu-off-canvas-medium %}
{% endblock %}

{% block content %}
	<div class="column row">
		<h4>
			<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ liste.magasin.nom }}">
				<img src='{{ MEDIA_URL }}{{ liste.magasin.logo.name }}' width="32" height="32">
			</span>
			{{ liste.nom }} | 
			<button onClick="updateListe({{ liste.id }})"><i class="fi-pencil blue-color"></i></button>
			{% if user.is_superuser %}
				 | <button onClick="deleteListe()"><i class="fi-x red-color"></i></button>
			{% endif %}
			{% if liste.archive %}
				| <form method="post" action="" class="archive_list inline_display">
					{% csrf_token %}
					<input type='hidden' name='liste_id' value='{{ liste.id }}' />
					<button type="submit"><i id="liste_{{ liste.id }}" class="fi-shopping-cart green-color"></i></button>
				</form>
			{% else %}
				| <form method="post" action="" class="archive_list inline_display">
					{% csrf_token %}
					<input type='hidden' name='liste_id' value='{{ liste.id }}' />
					<button type="submit"><i id="liste_{{ liste.id }}" class="fi-shopping-cart green-empty"></i></button>
				</form>
			{% endif %}
		</h4>
	</div>
	{% if liste.produit.all %}
		<div id="table_produit" class="column row">
			<table class="hover stack_small">
				<thead>
					<tr>
						<th>Produit</th>
						<th>Quantité</th>
					</tr>
				 </thead>
				<tbody>
					{% for produit in liste.produit.all %}
						<div class="reveal" id="reveal_delete_produit_{{produit.id}}" data-reveal>
							<p>Voulez vous vraiment supprimer {{ produit.nom }} de la liste ?</p>
							<p class="text-center"><button class='button' onClick="modifyQuantity('delete',{{ produit.id }})">Oui, je le veux</button></p>
							<button class="close-button" data-close aria-label="Close modal" type="button">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<tr id="produit_{{produit.id}}">
							<td>
								{{ produit.nom }}
							</td>
							<td>
								<div class="small button-group">
									{% if liste.active %}
										{% if produit.quantite == 1.0  %}
											<button type="button" class="pill-left button hide" id="minus_produit_{{produit.id}}" onClick="modifyQuantity('soustract',{{ produit.id }})"><i class="fi-minus"></i></button>
											<button type="button" id="delete_produit_{{produit.id}}" data-open="reveal_delete_produit_{{produit.id}}" class="alert pill-left button"><i class="fi-x"></i></button>
										{% else %}
											<button type="button" class="pill-left button" id="minus_produit_{{produit.id}}" onClick="modifyQuantity('soustract',{{ produit.id }})"><i class="fi-minus"></i></button>
											<button type="button" id="delete_produit_{{produit.id}}" data-open="reveal_delete_produit_{{produit.id}}" class="alert pill-left button hide"><i class="fi-x"></i></button>
										{% endif %}
										<button type="button" class="button" id="quantite_{{produit.id}}">{{ produit.quantite }}</button>
										<button type="button" class="pill-right button" onClick="modifyQuantity('add',{{ produit.id }})"><i class="fi-plus"></i></button>
									{% else %}
										<button type="button" class="disabled pill-left button"><i class="fi-minus"></i></button>
										<button type="button" class="button" id="quantite_{{produit.id}}">{{ produit.quantite }}</button>
										<button type="button" class="disabled pill-right button"><i class="fi-plus"></i></button>
									{% endif %}
								</div>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% endif %}
	{% if liste.active %}
		<div class="column row">
						<p class="text-center"><a class="button" data-open="ModalAddArticle">Ajouter un article <i class="fi-plus"></i></a></p>
				<div class="reveal" id="ModalAddArticle" data-reveal>
					<div hidden class="success callout" id="success_add_to_list">
						<p>l'article a été ajouté à la liste</p>
					</div>
					<div hidden class="alert callout" id="error_add_to_list">
						<p>l'article n'est pas ajouté à la liste</p>
					</div>
					<div class="column row margin-top">
						<form action="" method="post" id="ajout_article_liste">
							{% csrf_token %}
							<input type='hidden' name='liste_id' value='{{ liste.id }}' />
							<input type='hidden' id='article_id' name='article_id' value='-1' />
							{{ addarticle2list.as_p }}
							<p class="text-center"><input type="submit" class="button" value="Ajouter un article"></p>
						</form>
					</div>
					<button class="close-button" data-close aria-label="Close modal" type="button">
						<span aria-hidden="true">&times;</span>
					</button>
		</div>
	{% endif %}
	<div class="reveal" id="ListeUpdate" data-reveal>
	</div>
		<div class="reveal" id="ListeDelete" data-reveal>
	</div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
    $(function() {
        $('.archive_list').submit(function() {
            $.ajax({ 
                data: $(this).serialize(),
                type:'POST',
                url: '/a/archive_list/',
				dataType : "json",
				cache: false,
				success:  function(data) {
					if (data.state == "archive") {
						$("#liste_" + data.listeid).removeClass("green-empty").addClass("green-color");
                    }
					else if (data.state == "active") {
                        $("#liste_" + data.listeid).removeClass("green-color").addClass("green-empty");
                    }
				}
			});
            return false;
        });
    });
	</script>
	
	<script type="text/javascript">
		$(function() {
			$('#ajout_article_liste').submit(function() {
				$.ajax({ 
					data: $(this).serialize(),
					type:'POST',
					url: '/a/add_to_list/',
					dataType: "json",
					cache: false,
					success:  function() {
						$("#success_add_to_list").show();
						setTimeout(function() {
							$("#success_add_to_list").hide();
							$("#ModalAddArticle").foundation('close');
						}, 2000 );
						location.reload();
					},
					error: function(){
						$("#error_add_to_list").show();
						setTimeout(function() {
							$("#error_add_to_list").hide();
						}, 2000 );	
					}
				});
				return false;
			});
		});
	</script>
	
	<script type="text/javascript">
        $(function() {
            $("#article").autocomplete({
                source: "/a/get_article/",
                minLength: 4,
				select:function(e,u){ 
                $("#article").text(u.item.label);
                $("#article_id").val(u.item.id);
				}
            });
        });
	</script>
	
	<script type="text/javascript">
	// récupérer le cookie CSRF Token pour les requêtes AJAX
	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = jQuery.trim(cookies[i]);
				// Does this cookie string begin with the name we want?
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}
	
	var csrftoken = getCookie('csrftoken');
	</script>
	
	<script type="text/javascript">
		function modifyQuantity(action,produit_id,csrftoken){
				$.ajax({
					url:'/a/modify_product_quantity/',
					data: {action: action, produit_id : produit_id, csrfmiddlewaretoken : window.csrftoken},
					dataType: "json",
					type: 'POST',
					success: function(result) {
						if (result.state == "updated") {
							$("#quantite_" + result.produit_id).html(result.quantite);
							if (result.quantite === "1.0") {
								$("#delete_produit_" + result.produit_id).removeClass("hide");
								$("#minus_produit_" + result.produit_id).addClass("hide");
							}
							else{
								$("#delete_produit_" + result.produit_id).addClass("hide");
								$("#minus_produit_" + result.produit_id).removeClass("hide");
							}
						}
						else if (result.state == "deleted") {
							$("#produit_" + result.produit_id).remove();
							$("#reveal_delete_produit_" + result.produit_id).foundation('close');
						}
					}
				});
		}
	</script>
	
	<script type="text/javascript">
		function updateListe($idListe) {
			$.ajax('/a/l_maj/' + $idListe + '/')
			.done(function(resp){
				$("#ListeUpdate").html(resp).foundation('open');
			});
		}
	</script>
	
	<script type="text/javascript">
		function deleteListe() {
			$.ajax('/a/l_delete/{{ liste.id }}/')
			.done(function(resp){
				$("#ListeDelete").html(resp).foundation('open');
			});
		}
	</script>
	
{% endblock %}