{% extends "base.html" %}

{% block title %}Listes de course{% endblock %}

{% block content %}
	<div>
		<h2 class="column row">Listes de course</h2>
		<hr>
	</div>
		{% for liste in object_list %}
			<div class="row">
				<div class="large-6 columns">
					<p>
						<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ liste.magasin.nom }}">
							<img src='{{ MEDIA_URL }}{{ liste.magasin.logo.name }}' width="32" height="32">
						</span>
						<a href='/a/l_{{ liste.id }}'>{{ liste.nom }}</a> | 
						<a href='/a/l_maj/{{ liste.id }}'><i class="fi-refresh"></i></a>
						{% if user.is_superuser %}
							 | <a href='/a/l_delete/{{ liste.id }}'><i class="fi-x red-color"></i></a>
						{% endif %}
						{% if liste.archive %}
						| <i class="fi-shopping-cart green-color"></i>
						{% endif %}
					</p>
				</div>
			</div><hr>
		{% endfor %}
{% endblock %}