/* bloc contenu articles */

p.categorie {
    font-size: xx-small;
    color: #5EB6DD;
}

a.categorie {
    color: green;
}

a.categorie:hover {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: green;
    padding: 3px;
}

a.categorie_select {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: green;
    padding: 3px;
}

a.categorie_select:hover {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: green;
    padding: 3px;
}

i.red-color {
    color : red;
}

i.success {
     display: none;
     color: green !important;
     font-size: 36px;
}

i.green-color {
    color : green;
}