<div class='row'>
        <table class="stack_small">
                <thead>
                        <tr>
                                <th>Nom</th>
                                <th class='text-center'>Emetteur</th>
                                <th class='text-center'>Destinataire</th>
                                <th>Date du document</th>
                                <th>Etiquettes</th>
                        </tr>
                </thead>
                <tbody>
                        {% for fichier in fichiers %}
                                <tr>
                                        <td><a href='{% url 'fichier-detail' fichier.id %}'>{{ fichier.nom_fichier }}</a></td>
                                        <td class='text-center'>{{ fichier.emetteur }}</td>
                                        <td class='text-center'>{{ fichier.destinataire }}</td>
                                        <td>{{ fichier.date_document }}</td>
                                        <td>
                                                {% for etiquette in all_etiquette %}
                                                        {{ etiquette.nom }}
                                                        {% if not forloop.last %} | {% endif %}
                                                {% endfor %}
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>