{% load static from staticfiles %}
<!doctype html>

<html lang="fr">
    
    <head>
        
        <meta charset="utf-8">

        <title>{% block title %}Auxilium{% endblock %}</title>
		
        <meta name="description" content="Auxilium">
		
		{% block css %}

		{% endblock %}
		<link rel="stylesheet" href="{% static "css/app.css" %}">
		<link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
		<link rel='stylesheet' href="{% static "css/foundation-icons.css" %}" type='text/css'>
		<link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
		
		<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
		
    </head>

    <body>
		{% block menu %}
			<div class="top-bar menumargin">
				<div class="top-bar-left">
					<ul class="dropdown menu" data-dropdown-menu>
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/a/a_">Articles</a>
								<ul class="menu">
									<li>
										<a href="/a/a_add/">Ajouter</a>
									</li>
								</ul>
						</li>
						<li>
							<a href="/a/l_">Listes</a>
								<ul class="menu">
									<li>
										<a href="/a/l_add/">Ajouter</a>
									</li>
								</ul>
						</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="dropdown menu" data-dropdown-menu>
						<li>
							Bonjour, {{ request.user }}
						</li>
						{% if user.is_superuser %}
							<li>
								<a href="/admin/">Admin</a>
							</li>
						{% endif %}
						<li class="li-menu">
							<a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fi-power menu-i"></i></a>
						</li>
					</ul>
<!--				<form method="post" action="">
						{% csrf_token %}
						<input class="input-group-field" type="text" placeholder="Article" id="article" maxlength="254" name="article"/>
					</form> -->
				</div>
			</div>
        {% endblock %}

		{% block content %}

		{% endblock %}
	
		<script src="/static/js/vendor/jquery.min.js"></script>
		<script src="/static/js/jquery-ui.js"></script>
		<script src="/static/js/foundation.js"></script>
		<script type="text/javascript">
			$(document).foundation();
		</script>
		<script type="text/javascript">
		$(function() {
		$("#article").autocomplete({
			source: "/a/get_article/",
			minLength: 2,
			select: function( event, ui ) { 
            window.location.href = ui.item.value;
			}
			});
		});
		</script>

	{% block javascript %}
		
	{% endblock %}
    </body>
    
</html>