{% load static from staticfiles %}
<!doctype html>

<html lang="fr">
    
    <head>
        
        <meta charset="utf-8">

        <title>{% block title %}Auxilium{% endblock %}</title>
		
		<meta name="viewport" content="width=device-width" >
		
        <meta name="description" content="Auxilium">
		
		{% block css %}

		{% endblock %}
		<link rel="stylesheet" href="{% static "css/app.css" %}">
		<link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
		<link rel='stylesheet' href="{% static "css/foundation-icons.css" %}" type='text/css'>
		<link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}">
		
		<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
		
    </head>

    <body>
	<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
      <div class="off-canvas position-left black-color" id="offCanvas" data-off-canvas>
		{% block off-canvas-content %}
			
		{% endblock %}
		<!-- Close button -->
        <button class="close-button" aria-label="Close menu" type="button" data-close>
          <span aria-hidden="true">&times;</span>
        </button>
	  </div>
	  <div class="off-canvas-content" data-off-canvas-content>
		{% block menu %}
			<div class="top-bar hide-for-medium menumargin">
				<ul class="menu">
					{% block menu-off-canvas-small %}
						<li>
							<a data-toggle="offCanvas"><i class="fi-list"></i></a>
						</li>
					{% endblock %}
					<li>
						<a href="/"><i class="fi-home"></i></a>
					</li>
					<li>
						<a href="/a/a_"><i class="fi-annotate"></i></a>
					</li>
					<li>
						<a href="/a/l_"><i class="fi-clipboard-notes"></i></a>
					</li>
					{% if user.is_superuser %}
						<li>
							<a href="/admin/"><i class="fi-torso-business"></i></a>
						</li>
					{% endif %}
					<li class="li-menu">
						<a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fi-power menu-i"></i></a>
					</li>
				</ul>
			</div>
			<div class="top-bar menumargin show-for-medium">
				<div class="top-bar-left">
					<ul class="menu">
						{% block menu-off-canvas-medium %}
							<li>
								<a data-toggle="offCanvas"><i class="fi-list"></i></a>
							</li>
						{% endblock %}
						<li>
							<a href="/"><i class="fi-home"></i> <span>Home</span></a>
						</li>
						<li>
							<a href="/a/a_"><i class="fi-annotate"></i> <span>Articles</span></a>
						</li>
						<li>
							<a href="/a/l_"><i class="fi-clipboard-notes"></i> <span>Listes</span></a>

						</li>
					</ul>
				</div>
				<div class="top-bar-right">
					<ul class="menu">
<!--						<li>
							{{ request.user }}
						</li>-->
						{% if user.is_superuser %}
							<li>
								<a href="/admin/"><i class="fi-torso-business"></i> Admin</a>
							</li>
						{% endif %}
						<li class="li-menu">
							<a href="{% url 'django.contrib.auth.views.logout' %}"><i class="fi-power menu-i"></i></a>
						</li>
					</ul>
				</div>
			</div>
        {% endblock %}

		{% block content %}

		{% endblock %}
	
		<script src="/static/js/vendor/jquery.min.js"></script>
		<script src="/static/js/jquery-ui.js"></script>
		<script src="/static/js/foundation.js"></script>
		<script type="text/javascript">
			$(document).foundation();
		</script>

	{% block javascript %}
		
	{% endblock %}
	</div>
    </div>
  </div>
    </body>
    
</html>