{% extends "base.html" %}

{% block content %}
<div class='column row'>
	<p> </p>
</div>

<div class="row">
	<div class="small-12 medium-4 large-4 columns">
		<div class="callout">
			<h5>Listes actives</h5>
			{% for liste in listes_actives %}
				<p class="inline_display">
					<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="{{ liste.magasin.nom }}">
						<img src='{{ MEDIA_URL }}{{ liste.magasin.logo.name }}' width="32" height="32">
					</span>
					<a href='/a/l_{{ liste.id }}'>{{ liste.nom }}</a> | 
					<a href='/a/l_maj/{{ liste.id }}'><i class="fi-refresh"></i></a>
					{% if user.is_superuser %}
						 | <a href='/a/l_delete/{{ liste.id }}'><i class="fi-x red-color"></i></a>
					{% endif %}
					{% if liste.archive %}
						| <i class="fi-shopping-cart green-color"></i>
					{% else %}
						| <form method="post" action="" class="archive_list inline_display">
							{% csrf_token %}
							<input type='hidden' name='liste_id' value='{{ liste.id }}' />
							<button type="submit"><i id="liste_{{ liste.id }}" class="fi-shopping-cart green-empty"></i></button>
						</form>
					{% endif %}
				</p>
			{% endfor %}
		</div>
	</div>
	<div class="small-12 medium-4 large-4 columns">
		<div class="callout">
			<input  id="article" type="text" placeholder="Rechercher un article" maxlength="254"/>
			<p id="results"></p>
		</div>
	</div>
	<div class="small-12 medium-4 large-4 columns">
		<div class="callout">
			<p class="text-center"><a class="button" data-open="ModalCreateArticle">Ajouter un article <i class="fi-plus"></i></a></p>
			<div class="reveal" id="ModalCreateArticle" data-reveal>
				<div class="success callout display_for_success" data-closable id="response_article">
					<p>l'article <span id="retour_article"></span> a été ajouté à la base de données</p>
					<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="" method="post" id="ajout_article">
					{% csrf_token %}
					{{ form_article.as_p }}
					<p class="text-center"><input type="submit" class="button" value="Ajouter un article"></p>
				</form>
				<button class="close-button" data-close aria-label="Close modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<p class="text-center"><a class="button" data-open="ModalCreateListe">Créer une liste <i class="fi-plus"></i></a></p>
			<div class="reveal" id="ModalCreateListe" data-reveal>
				<div class="success callout display_for_success" data-closable id="response_liste">
					<p>la liste <span id="retour_liste"></span> a été ajouté à la base de données</p>
					<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form action="" method="post" id="ajout_liste">
					{% csrf_token %}
					{{ form_liste.as_p }}
					<p class="text-center"><input type="submit" class="button" value="Créer une liste"></p>
				</form>
				<button class="close-button" data-close aria-label="Close modal" type="button">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block javascript %}

	<script type="text/javascript">
		$("#article").autocomplete({
			source: "/a/get_article/",
			minLength: 4,
			select : function( event, ui ) {
				$('#results').text(ui.item.value);
			}
		});
	</script>
	
	<script type="text/javascript">
    $(function() {
        $('.archive_list').submit(function() {
            $.ajax({ 
                data: $(this).serialize(),
                type:'POST',
                url: '/a/archive_list/',
				dataType : "json",
				cache: false,
				success:  function(data) {
					if (data.state == "archive") {
						$("#liste_" + data.listeid).removeClass("green-empty").addClass("green-color");
                    }
					else if (data.state == "active") {
                        $("#liste_" + data.listeid).removeClass("green-color").addClass("green-empty");
                    }
				}
			});
            return false;
        });
    });
	</script>
	
	<script language="JavaScript">
		$(function() {
			$('#ajout_article').submit(function() {
				$.ajax({ 
					data: $(this).serialize(),
					type:'POST',
					url: '/create_article/',
					dataType : "json",
					cache: false,
					success:  function(data) {
						console.log(data);
						document.getElementById("retour_article").innerHTML = data;
						$("#response_article").show();
						setTimeout(function() {
							$("#response_article").hide();
						}, 5000 );
					}
				});
				return false;
			});
		});
	</script>
	
	<script language="JavaScript">
		$(function() {
			$('#ajout_liste').submit(function() {
				$.ajax({ 
					data: $(this).serialize(),
					type:'POST',
					url: '/create_liste/',
					dataType : "json",
					cache: false,
					success:  function(data) {
						console.log(data);
						document.getElementById("retour_liste").innerHTML = data;
						$("#response_liste").show();
						setTimeout(function() {
							$("#response_liste").hide();
						}, 5000 );
					}
				});
				return false;
			});
		});
	</script>

{% endblock %}
